$colM1:#FDC350;
$colM2:#CE5700;
$colM3:#fcdda2;
$colM4:#fdb014;

@mixin borR($rad){
    border-radius: $rad;
}
@mixin bgCol($col){
    background-color: $col;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: #FDB014;
    display: grid;
}
.grid{
    display:grid;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
.inactive{
    display: none;
}
    .tab_main{
        @include bgCol($colM1);
        
        height: 500px;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        
    }
.trans{
    @include bgCol(transparent);
}
.act{
     @include bgCol($colM1);
    border-radius: 20px 20px 0 0;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.5);
}