*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: #FDB014;
    display: grid;
}
.grid{
    display:grid;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}